@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 0%;
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 29%;
    --border: 0 0% 13%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;
    --primary: 45 100% 50%;
    --primary-foreground: 0 0% 0%;
    --muted: 0 0% 13%;
    --muted-foreground: 0 0% 49%;
    --border: 0 0% 100% / 0.5;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(var(--marquee-translate, -50%));
  }
}

.animate-marquee {
  animation: marquee var(--marquee-duration, 40s) linear infinite;
}

.group:hover .animate-marquee {
  animation-play-state: paused;
}

@media (prefers-reduced-motion: reduce) {
  .animate-marquee {
    animation: none;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
